
<!-- Header Start -->
<div class="container-fluid  px-0 px-md-5  p-5" style="background-color:  rgb(188, 193, 223);">
    <div class="row align-items-center px-3">
      <div class="col-lg-6 text-center text-lg-left">
        <h4 class=" mb-4 mt-5 mt-lg-0" style="color:  rgb(39, 48, 92);">IT Learning Center</h4>
        <h1 class="display-3 font-weight-bold  " style="color:  rgb(39, 48, 92);">
          New Approach to Online & Offline Education
        </h1>
        <p class=" mb-4" style="color:  rgb(39, 48, 92);">
          Our institution provide a wide range of educational programs, courses, and training to individuals at various levels, from beginners to advanced professionals
        </p>
        <!-- <a href="" class="btn btn-secondary mt-1 py-3 px-5 ">Learn More</a> -->
      </div>
      <div class="col-lg-6 text-center text-lg-right">
        <img class="img-fluid mb-5" src="https://i.postimg.cc/Fz9T05LP/pic.jpg" alt="" width="80%" height="100" />
      </div>
    </div>
  </div>
  <!-- Header End -->
  <app-userhome></app-userhome>
  <app-courses></app-courses>
  <app-contact></app-contact>
