class{
    background: hsl(15, 43%, 89%)
}\.card{
    width: 400px;
    height: 500px;
    margin-top: 2rem;

   
}
.card:hover{
    transform: scale(1.01);
    background: hsl(273, 82%, 75%);
}
.btn{
    background-color: #ba97db;
    color: white;
}
.card1{
    margin-right: 2rem;
}