html,
body,
.intro {
  margin: 0;
  height: 100vh;
}

.gradient-custom-2 {
  /* fallback for old browsers */
  background: hsl(268, 14%, 81%);

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to top, #cdc8d2, #e3e8ef);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to top, #d7d0de, #d2d6dd)
}

/* table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
} */

/* thead th,
tbody th {
  color: #fff;
} */

tbody td {
  font-weight: 500;
  color: rgba(255,255,255,.65);
}