<div class="container-fluid pt-5" style="background-color:rgb(99, 84, 114);">
    <div class="container">
      <div class="text-center pb-2">
        <p class="section-title px-5">
          <span class="px-2 ">Latest Blog</span>
        </p>
        <h1 class="mb-4 text-white">Latest Articles From Blog</h1>
      </div>
      <div class="row pb-3">
        <div class="col-lg-4 mb-4">
          <div class="card border-0 shadow-sm mb-2">
            <img class="card-img-top mb-2" src="https://i.postimg.cc/bJcD8Q2v/job.jpg" alt="" height="300px" />
            <div class="card-body bg-light text-center p-4">
              <h4 class="">On The Job Training</h4>
          
              <p>
                Sed kasd sea sed at elitr sed ipsum justo, sit nonumy diam
                eirmod, duo et sed sit eirmod kasd clita tempor dolor stet
                lorem. Tempor ipsum justo amet stet...
              </p>
             
          
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card border-0 shadow-sm mb-2">
            <img class="card-img-top mb-2" src="https://i.postimg.cc/HLfZgP27/presentation.jpg" alt="" height="300px" />
            <div class="card-body bg-light text-center p-4">
              <h4 class="">Presentations </h4>
            
              <p>
                Sed kasd sea sed at elitr sed ipsum justo, sit nonumy diam
                eirmod, duo et sed sit eirmod kasd clita tempor dolor stet
                lorem. Tempor ipsum justo amet stet...
              </p>
            
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card border-0 shadow-sm mb-2">
            <img class="card-img-top mb-2" src="https://i.postimg.cc/HkLzqCQL/antenna-cw-cj-n-Fa14-unsplash.jpg" height="300px"  alt="" />
            <div class="card-body bg-light text-center p-4">
              <h4 class="">Group Discussions</h4>
 
              <p>
                Sed kasd sea sed at elitr sed ipsum justo, sit nonumy diam
                eirmod, duo et sed sit eirmod kasd clita tempor dolor stet
                lorem. Tempor ipsum justo amet stet...
              </p>
             
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card border-0 shadow-sm mb-2">
            <img class="card-img-top mb-2" src="https://i.postimg.cc/3J3FGDJ6/alimins.jpg" height="300px" alt="" />
            <div class="card-body bg-light text-center p-4">
              <h4 class="">Aluminis Visit</h4>
            
              <p>
                Sed kasd sea sed at elitr sed ipsum justo, sit nonumy diam
                eirmod, duo et sed sit eirmod kasd clita tempor dolor stet
                lorem. Tempor ipsum justo amet stet...
              </p>
             
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card border-0 shadow-sm mb-2">
            <img class="card-img-top mb-2" src="https://i.postimg.cc/XJG4QJN6/holi.jpg" alt=""  height="300px"/>
            <div class="card-body bg-light text-center p-4">
              <h4 class="">Cultural Events</h4>
             
              <p>
                Sed kasd sea sed at elitr sed ipsum justo, sit nonumy diam
                eirmod, duo et sed sit eirmod kasd clita tempor dolor stet
                lorem. Tempor ipsum justo amet stet...
              </p>
             
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card border-0 shadow-sm mb-2">
            <img class="card-img-top mb-2" src="https://i.postimg.cc/QxjvMCLN/cele.jpg" height="300px" alt="" />
            <div class="card-body bg-light text-center p-4">
              <h4 class="">Celebrations</h4>
             
              <p>
                Sed kasd sea sed at elitr sed ipsum justo, sit nonumy diam
                eirmod, duo et sed sit eirmod kasd clita tempor dolor stet
                lorem. Tempor ipsum justo amet stet...
              </p>
             
            </div>
          </div>
        </div>
   
      </div>
    </div>
  </div>
