
<!-- Features section-->
     <section class="py-5 border-bottom" id="features">
        <div>
            
  
        </div>
        <div class="container px-5 my-5">
            
            <div class="row gx-5">
                <div class=" mt-5 mb-lg-3">
                    <div class="feature1 bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                    <a class="text-decoration-none" href="addcourse">
                     <button class="btn btn-dark w-100 h-100">Add Courses</button>
                      
                    </a>
                </div>
                <div class=" mb-5 mb-lg-3">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                    <a class="text-decoration-none" href="adminAllCourse">
                       <button class="btn btn-dark w-100 h-100">View & Update Courses</button>
                        
                    </a>
                </div>
                <div class="mb-5 mb-lg-3">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                    
                    <a class="text-decoration-none" href="view">
                       <button class="btn btn-dark w-100 h-100">View Students List</button>
                    </a>
                </div>
                <div class=" mb-5 mb-lg-3">
                    <div class="feature1 bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                    <a class="text-decoration-none" href="viewenquiry">
                     <button class="btn btn-dark w-100 h-100">View Enquiry List </button>
                      
                    </a>
                </div>
         
             
            </div>
        </div>
    
          
               
           
   
    </section>

